.gradle/
.idea/
*.iml
build/
captures/
local.properties
app/build/
core-*/build/
feature-*/build/
*.apk
*.aab
app/libs/universal
app/libs/arm64-v8a
app/libs/armeabi-v7a
app/libs/x86_64
gradle/gradle-daemon-jvm.properties
